.gitbook/assets/waterlevel_v0_5.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by Bernd BIRKLHUBER (Private) -->
<!-- =================================================================================== -->
<!-- Journaal, Releasenotes: -->
<!-- -->
<!-- v0.3 	March 2008: 	Draft of task force water level exchange format of the Inland ENC Harmonization Group (IEHG) -->
<!-- Copyright IEHG  -->
<!-- -->
<!-- =================================================================================== -->
<xs:schema xmlns="http://ienc.openecdis.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://ienc.openecdis.org/" elementFormDefault="qualified" 
           attributeFormDefault="unqualified" version="0.5">
	<xs:element name="wlc">
		<xs:annotation>
			<xs:documentation>water level corrections</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header">
					<xs:annotation>
						<xs:documentation>header section of the file</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="wtwname">
								<xs:annotation>
									<xs:documentation>waterway name in local language and Basic Latin Unicode (the start and end point of the covered section are attributes of this element)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:Name">
											<xs:attribute name="start" type="xs:decimal" use="required"/>
											<xs:attribute name="end" type="xs:decimal" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element ref="wtw_s" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>waterway section codes (ISO alpha-2 country code + 5 numerical digits)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="prod_time" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>date/time of production</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="period_from" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>covered period of time, from date/time</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="period_to" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>covered period of time, to date/time</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="next" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>next file available at date/time</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="producer" type="xs:string">
								<xs:annotation>
									<xs:documentation>data producer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="verdat" minOccurs="0">
								<xs:annotation>
									<xs:documentation>reference level as provided in vertical datum (attribute verdat) in IENC (mandatory element in Europe)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
                    <xs:enumeration value="12">
                      <xs:annotation>
                        <xs:documentation>Mean lower low water</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="31">
                      <xs:annotation>
                        <xs:documentation>local low water reference level</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="32">
                      <xs:annotation>
                        <xs:documentation>local high water reference level</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="33">
                      <xs:annotation>
                        <xs:documentation>local mean water reference level</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="34">
                      <xs:annotation>
                        <xs:documentation>equivalent height of water, German GlW</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="35">
                      <xs:annotation>
                        <xs:documentation>Highest Shipping Height of Water, German HSW</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="36">
                      <xs:annotation>
                        <xs:documentation>reference low water level according to Danube Commission</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="37">
                      <xs:annotation>
                        <xs:documentation>highest shipping height of water according to Danube Commission</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="38">
                      <xs:annotation>
                        <xs:documentation>Dutch river low water reference level, OLR</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="39">
                      <xs:annotation>
                        <xs:documentation>Russian project water level</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="40">
                      <xs:annotation>
                        <xs:documentation>Russian normal backwater level</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="41">
                      <xs:annotation>
                        <xs:documentation>Ohio River Datum</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IENC_from" type="xs:date" minOccurs="0">
								<xs:annotation>
									<xs:documentation>earliest publication date of Inland ENCs that can be used with this correction file (depending on the version of  the reference level)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IENC_to" type="xs:date" minOccurs="0">
								<xs:annotation>
									<xs:documentation>latest publication date of Inlnad ENCs that can be used with this correction file (depending on the version of the reference level)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="reflev" minOccurs="0">
								<xs:annotation>
									<xs:documentation>gravitational reference level as provided in reference level (attribute reflev) in IENC (only used for gauge information outside of Europe)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="1">
                      <xs:annotation>
                        <xs:documentation>Baltic datum</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="2">
                      <xs:annotation>
                        <xs:documentation>Adriatic level</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="3">
                      <xs:annotation>
                        <xs:documentation>Amsterdam Ordinance Datum, NAP</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="4">
                      <xs:annotation>
                        <xs:documentation>Mean sea level, NN</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="5">
                      <xs:annotation>
                        <xs:documentation>other datum</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="6">
                      <xs:annotation>
                        <xs:documentation>National Geodetic Vertical Datum, NGVD 29</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="7">
                      <xs:annotation>
                        <xs:documentation>North American Vertical Datum, NAVD 88</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="8">
                      <xs:annotation>
                        <xs:documentation>Mean Sea Level 1912</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
										<xs:enumeration value="9">
                      <xs:annotation>
                        <xs:documentation>Mean Sea level 1929</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="units">
								<xs:annotation>
									<xs:documentation>subsection with units of measure</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hunits">
											<xs:annotation>
												<xs:documentation>units of distances as provided in horizontal units (attribute hunits) in IENC</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="3">
                            <xs:annotation>
                              <xs:documentation>kilometres</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
													<xs:enumeration value="4">
                            <xs:annotation>
                              <xs:documentation>hectometres</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
													<xs:enumeration value="5">
                            <xs:annotation>
                              <xs:documentation>statute miles</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
													<xs:enumeration value="6">
                            <xs:annotation>
                              <xs:documentation>nautical miles</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="wlunits">
											<xs:annotation>
												<xs:documentation>units of water level corrections</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="m">
                            <xs:annotation>
                              <xs:documentation>metres</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
													<xs:enumeration value="cm">
                            <xs:annotation>
                              <xs:documentation>centimetres</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
													<xs:enumeration value="ft">
                            <xs:annotation>
                              <xs:documentation>feet</xs:documentation>
                            </xs:annotation>
                          </xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="velunits" minOccurs="0">
											<xs:annotation>
												<xs:documentation>units of velocity</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="m/s"/>
													<xs:enumeration value="km/h"/>
													<xs:enumeration value="mph"/>
													<xs:enumeration value="knots"/>
													<xs:enumeration value="ft/s"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="wtw_section" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>waterway section, mandatory element in Europe</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="wtw_s">
								<xs:annotation>
									<xs:documentation>waterway section code (ISO alpha-2 country code + 5 numerical digits)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ti_s" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>time section</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ti"/>
										<xs:element ref="p">
											<xs:annotation>
												<xs:documentation>prediction?  (true=prediction, false=measurement)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="a" minOccurs="0"/>
										<xs:element name="f" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>waterway distance, from which the first correction value is applicable </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="t" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>waterway distance, to which a correction value is applicable (the water level correction value w and the velocity v are attributes of this element)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:decimal">
														<xs:attribute name="w" type="xs:decimal" use="required"/>
														<xs:attribute name="v" type="xs:decimal" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="gauge" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>gauge section, only to be used outside of Europe</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="gauge_ID" type="xs:string">
								<xs:annotation>
									<xs:documentation>unique ID of the gauge</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="ti"/>
							<xs:element ref="p">
								<xs:annotation>
									<xs:documentation>prediction? (true=prediction, false= measurement)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="a" minOccurs="0">
								<xs:annotation>
									<xs:documentation>accuracy (+/- xx.xx), normally only used for predictions</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="condition" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>e.g. normal, ice, ...</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="zero_elevat" type="xs:decimal">
								<xs:annotation>
									<xs:documentation>zero elevation of the gauge</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="reading" type="xs:decimal">
								<xs:annotation>
									<xs:documentation>water level value</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="velocity" type="xs:decimal" minOccurs="0">
								<xs:annotation>
									<xs:documentation>velocity value</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="wtw_s">
		<xs:annotation>
			<xs:documentation>Waterway section codes (ISO alpha-2 country code + 5 numerical digits</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ti" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>date/time of water level information</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="p">
		<xs:annotation>
			<xs:documentation>prediction or based on measurement?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean">
				<!--<xs:pattern value=""/>-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="a" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>accuracy (+/- xx.xx)</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
